.highlight{
    color: #fa804c;
}
.contact-box{
    height: 500px;
    background-color: aqua;
}
.navbar img{
    width: 175px;
}
.buy-button{
    margin-left: 170px;
    background-image: linear-gradient(120deg, #3645c4, #727ee7 );
    color: white;
}
.no-footer{
    border: 0;
    background-color: white;
}
.sign-up{
    color: white;
    height: 500px;
    background-image: url(https://wallpaperaccess.com/full/1597754.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 500px;

}
.logo{
    border: 5px solid black;
}
.logo-box{
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.logo img{
    width: 15%;
    padding-top: 10px;
    margin-top: 80px;
}
.lid img{
    width: 75%;
}